@import 'https://fonts.googleapis.com/css?family=Finger+Paint|Fredoka+One';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(to bottom, rgba(82,58,77,1) 0%, rgba(131,166,153,1) 100%) no-repeat;
    height:900px;
    width:100%;
}
.header{
    text-align:center;
    background:rgba(50,60,70,0.5);
    color:white;
    font-size:40px;
    border-bottom:2px solid rgb(211, 208, 232);
}
main{
    width:318px;
    height:318px;
    border-radius:10px;
    background:rgb(247, 178, 66);
    display:table;
    margin:5% auto;
    padding:20px;
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75),  inset 0px 0px 10px 5px rgba(0,0,0,0.47);
}
.tile{
    color:white;
    font-family: 'Finger Paint', cursive;
    width:106px;
    height:106px;
    background:linear-gradient(rgb(100,100,100),rgb(99,99,99));
    border:1px solid white;
    box-sizing:border-box;
    overflow:hidden;
    text-align:center;
    font-size:50px;
    line-height:2;
}
.tile:hover{
     background:linear-gradient(rgb(110,110,110),rgb(200,200,200));
     
}

#endMessage, #tiles, #end{
    display:none;
}
#tiles{
    width:318px;
    height:318px;
}


.modal{
    border:3px solid rgb(196, 142, 56);
    background: linear-gradient(to bottom, rgba(219,215,219,1) 0%, rgba(240,240,240,1) 100%);
    width:318px;
    height:318px;
}
    .modal h3{
        text-align:center;
    }
    .modal .buttons{
        text-align:center;
        padding-top:70px;
}
        .modal button{
            width:50px;
            height:50px;
            font-size:1.7em;
            font-family: 'Finger Paint', cursive;
            background:rgb(193, 193, 193);
        }
    .modal .again{
        text-align:center;
        padding-top:30px;
    }
        .again button{
            width:auto;
            background:rgb(193, 193, 193);
            
        }


#stats{
  margin:1% auto;
  width:300px;
  color:yellow;
}

#end button{
    font-size:1em;
    width:auto;
    margin:25% 40%;
}