html,body{
    margin:0;
    padding:0;
}
body {
	background:linear-gradient(rgb(50,50,50),rgb(60,60,60));
	height:100%;
	width:100%;
}
main{
    width:330px;
    height:330px;
    max-width:330px;
    max-height:330px;
    background:linear-gradient(rgb(80,80,80),rgb(99,99,99));
    display:table;
    margin:20% auto;
}
.tile{
    display:inline-block;
    width:106px;
    height:106px;
    background:linear-gradient(rgb(100,100,100),rgb(99,99,99));
    border:1px solid white;
    box-sizing:border-box;
    overflow:hidden;
    text-align:center;
    font-size:50px;
    line-height:2;
}
.tile:hover{
     background:linear-gradient(rgb(110,110,110),rgb(200,200,200));
}
